@import "tailwindcss";

@font-face {
  font-family: "Neue Helvetica W01";
  src: url("/fonts/neue-helvetica-w01-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

:root,
:host {
  --font-sans:
    "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, ui-sans-serif,
    sans-serif;

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-amber-500: oklch(76.9% 0.188 70.08);

  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-400: oklch(70.4% 0.04 256.788);

  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);

  --color-black: #000;
  --color-white: #fff;

  --spacing: 0.25rem;

  --breakpoint-xl: 80rem;

  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;

  --text-xs: 0.7em;
  --text-xs--line-height: calc(1 / 0.75);

  --text-sm: 0.8em;
  --text-sm--line-height: calc(1.25 / 0.875);

  --text-base: 1rem;
  --text-base--line-height: 1.4;

  --text-md: 1.1em;

  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);

  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);

  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);

  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --tracking-widest: 0.1em;

  --leading-snug: 1.375;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --animate-spin: spin 1s linear infinite;

  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);

  --background-image-selector-icon: url("https://cdn.shopify.com/oxygen-v2/28323/14370/29622/3611511/assets/selector-icon-DUvmi7W5.svg");

  --color-tri-ferg-blue: #34398d;
  --color-tri-ferg-grey: #e6e6e6;
  --color-tri-ferg-lime-green: #b5ff00;
  --color-tri-ferg-red: #cd1417;
  --color-text-grey: #d1d5db;
}

@theme {
  --font-sans:
    "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, ui-sans-serif,
    sans-serif;

  --font-header:
    "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, ui-sans-serif,
    sans-serif;

  --color-tri-ferg-blue: #34398d;
  --color-tri-ferg-grey: #e6e6e6;
  --color-tri-ferg-lime-green: #b5ff00;
  --color-tri-ferg-red: #cd1417;

  --max-width-352: 3520px;
  --spacing-6.25: 1.5625rem;
  --leading-4.5: 1.125rem;
}

@custom-variant phone (@media (max-width: 767px));
/* @custom-variant tablet (@media (min-width: 768px)); */
@custom-variant desktop (@media (min-width: 1024px));

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html,
  body {
    font-family: var(--font-sans);
    background: var(--color-white);
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  .header-main-nav {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    /* gap: 0.4rem; */
  }

  @media (max-width: 767px) {
    .header-main-nav {
      visibility: hidden;
      display: none;
    }
  }

  .header-nav-item {
    margin: 0;
    margin-left: 1.25rem;
    margin-top: 0.875rem;
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    transition: opacity 150ms ease-in-out;
  }

  .header-nav-item:hover {
    opacity: 0.25;
  }

  .header-nav-item a {
    color: inherit;
    text-decoration: none;
    font: inherit;
    letter-spacing: inherit;
  }

  #mobile-menu a {
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden
    focus-visible:ring-2
    focus-visible:ring-neutral-400
    focus-visible:ring-offset-2
    focus-visible:ring-offset-neutral-50
    dark:focus-visible:ring-neutral-600
    dark:focus-visible:ring-offset-neutral-900;
}
